{
    email {$ACME_EMAIL}
    admin off
}

ai.yam-yam.dev {
    encode gzip {
        match {
            header Content-Type application/json*
            header Content-Type application/javascript*
            header Content-Type application/xhtml+xml*
            header Content-Type application/atom+xml*
            header Content-Type application/rss+xml*
            header Content-Type image/svg+xml*
        }
    }

    reverse_proxy * svelte-kit:3000
}
